body {
  background-color: aqua;
}

h1 {
  line-height: 1.5;
  font-size: 40px;
  color: #ffffff;
}

h2 {
  font-size: 35px;
  text-align: center;
}

nav {
  background-color: #111111;
  padding: 10px 30px 10px 30px;
  opacity: 90%;

  width: 100%;
}

nav .container {
  display: flex;
}

nav ul {
  list-style: none;
  display: flex;

  color: #ffffff;
  margin-left: auto;
  gap: 100px;
  font-size: 25px;
}
nav a {
  text-decoration: none;
  color: #ffffff;
}
nav a:hover {
  opacity: 80%;
  transition: all 0.3s ease-in-out;
}
nav img {
  display: flex;
  max-height: 90px;
}

.wave {
  width: 100%;
  position: relative;
}

.headshot {
  padding: 30px;
  max-width: 250px;
  margin-left: 100px;
  box-shadow: -50px -50px 0 -40px white, 50px 50px 0 -40px white;
}

.main-card {
  position: relative;
  top: -100px;
  display: flex;
  justify-content: center;
}

.about-me {
  font-size: 30px;
  line-height: 1.5;
  color: #ffffff;
}

footer .contact-links {
  display: flex;
  justify-content: center;
}

footer .contact-links a {
  font-size: 40px;
  padding: 10px 15px;
  margin: 50px;

  background-color: white;
  border-radius: 50%;
}

footer .contact-links a:hover {
  opacity: 85%;
  transition: all 0.3s ease-in-out;
}
